-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT,
    "lastName" TEXT,
    "email" TEXT,
    "password" TEXT,
    "image" TEXT,
    "avatar" TEXT,
    "phone" TEXT,
    "birthDate" TEXT,
    "province" TEXT,
    "city" TEXT,
    "bio" TEXT,
    "twoFactorSecret" TEXT,
    "twoFactorEnabled" BOOLEAN NOT NULL DEFAULT false,
    "backupCodes" TEXT,
    "preferences" TEXT,
    "assignedTherapistId" TEXT,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "emailVerified" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" DATETIME NOT NULL,
    CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,
    CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "OTP" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "identifier" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "mode" TEXT NOT NULL,
    "used" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" DATETIME NOT NULL,
    "userId" TEXT,
    CONSTRAINT "OTP_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "UiSetting" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "theme" TEXT NOT NULL DEFAULT 'light',
    "font" TEXT NOT NULL DEFAULT 'vazir',
    "direction" TEXT NOT NULL DEFAULT 'rtl',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TestResult" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT,
    "testName" TEXT NOT NULL,
    "testId" TEXT,
    "testSlug" TEXT,
    "score" REAL NOT NULL,
    "result" TEXT,
    "resultText" TEXT,
    "rawAnswers" TEXT,
    "analysis" TEXT,
    "answers" TEXT,
    "completed" BOOLEAN NOT NULL DEFAULT false,
    "severity" TEXT,
    "interpretation" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "TestResult_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Comment" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT,
    "priority" TEXT,
    "actionUrl" TEXT,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "UserRole" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ChatHistory" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT,
    "messages" TEXT NOT NULL,
    "testResults" TEXT,
    "screeningAnalysis" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "ChatHistory_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Chat" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userEmail" TEXT NOT NULL,
    "messages" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "Exercise" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "duration" INTEGER NOT NULL,
    "instructions" TEXT NOT NULL,
    "difficulty" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "UserExercise" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "exerciseId" TEXT NOT NULL,
    "completedAt" DATETIME,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "rating" INTEGER,
    "feedback" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "UserExercise_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "UserExercise_exerciseId_fkey" FOREIGN KEY ("exerciseId") REFERENCES "Exercise" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Test" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "testSlug" TEXT NOT NULL,
    "slug" TEXT,
    "testName" TEXT NOT NULL,
    "title" TEXT,
    "description" TEXT,
    "category" TEXT,
    "published" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "deletedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Question" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "testId" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Question_testId_fkey" FOREIGN KEY ("testId") REFERENCES "Test" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Option" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "questionId" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "score" INTEGER NOT NULL DEFAULT 0,
    "order" INTEGER NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Option_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "Question" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "UserTest" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "testId" TEXT NOT NULL,
    "score" REAL,
    "completedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "answers" JSONB,
    CONSTRAINT "UserTest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "UserTest_testId_fkey" FOREIGN KEY ("testId") REFERENCES "Test" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "LearningMetric" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "accuracy" REAL NOT NULL,
    "loss" REAL NOT NULL,
    "modelName" TEXT NOT NULL,
    "updatedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "MoodAggregate" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "moodType" TEXT NOT NULL,
    "intensity" REAL NOT NULL,
    "userCount" INTEGER NOT NULL,
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "Article" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "excerpt" TEXT,
    "category" TEXT NOT NULL,
    "tags" TEXT NOT NULL,
    "author" TEXT NOT NULL DEFAULT 'Testology Editorial Team',
    "coverUrl" TEXT,
    "published" BOOLEAN NOT NULL DEFAULT false,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "NewsletterSubscriber" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "subscribedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "unsubscribedAt" DATETIME
);

-- CreateTable
CREATE TABLE "Blog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "metaDescription" TEXT,
    "description" TEXT,
    "excerpt" TEXT,
    "content" TEXT NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'general',
    "imageUrl" TEXT,
    "tags" TEXT,
    "published" BOOLEAN NOT NULL DEFAULT false,
    "publishedAt" DATETIME,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "views" INTEGER NOT NULL DEFAULT 0,
    "authorId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Blog_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "MonthlyAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "month" TEXT NOT NULL,
    "users" INTEGER NOT NULL,
    "tests" INTEGER NOT NULL,
    "articles" INTEGER NOT NULL,
    "revenue" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "CategoryAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "category" TEXT NOT NULL,
    "views" INTEGER NOT NULL,
    "tests" INTEGER NOT NULL,
    "articles" INTEGER NOT NULL,
    "engagement" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "DailyAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "date" TEXT NOT NULL,
    "users" INTEGER NOT NULL,
    "tests" INTEGER NOT NULL,
    "articles" INTEGER NOT NULL,
    "revenue" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "UserAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "total" INTEGER NOT NULL,
    "active" INTEGER NOT NULL,
    "new" INTEGER NOT NULL,
    "returning" INTEGER NOT NULL,
    "premium" INTEGER NOT NULL,
    "free" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "TestAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "total" INTEGER NOT NULL,
    "completed" INTEGER NOT NULL,
    "averageTime" REAL NOT NULL,
    "completionRate" REAL NOT NULL,
    "satisfaction" REAL NOT NULL
);

-- CreateTable
CREATE TABLE "ArticleAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "total" INTEGER NOT NULL,
    "published" INTEGER NOT NULL,
    "draft" INTEGER NOT NULL,
    "views" INTEGER NOT NULL,
    "likes" INTEGER NOT NULL,
    "shares" INTEGER NOT NULL,
    "comments" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "GeoAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "country" TEXT NOT NULL,
    "users" INTEGER NOT NULL,
    "percentage" REAL NOT NULL
);

-- CreateTable
CREATE TABLE "DeviceAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "device" TEXT NOT NULL,
    "users" INTEGER NOT NULL,
    "percentage" REAL NOT NULL
);

-- CreateTable
CREATE TABLE "BrowserAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "browser" TEXT NOT NULL,
    "users" INTEGER NOT NULL,
    "percentage" REAL NOT NULL
);

-- CreateTable
CREATE TABLE "HourlyAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "hour" INTEGER NOT NULL,
    "users" INTEGER NOT NULL,
    "tests" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "WeeklyAnalytics" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "day" TEXT NOT NULL,
    "users" INTEGER NOT NULL,
    "tests" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "ScreeningSet" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "questions" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ScreeningResult" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userEmail" TEXT NOT NULL,
    "screeningSetId" TEXT NOT NULL,
    "answers" TEXT NOT NULL,
    "analysis" TEXT NOT NULL,
    "recommendedTests" TEXT NOT NULL,
    "emotionalState" TEXT,
    "relationshipPatterns" TEXT,
    "motivationLevel" TEXT,
    "focusAbility" TEXT,
    "selfEsteem" TEXT,
    "keyInsights" TEXT,
    "nextSteps" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "ScreeningResult_screeningSetId_fkey" FOREIGN KEY ("screeningSetId") REFERENCES "ScreeningSet" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "SystemConfig" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "description" TEXT,
    "updatedAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "BlogCategory" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT,
    "icon" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "HumanFeedback" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT,
    "clinicianId" TEXT,
    "reportId" TEXT,
    "feedbackType" TEXT NOT NULL,
    "feedbackNote" TEXT,
    "aiConfidence" REAL,
    "timeTaken" INTEGER,
    "feedbackScore" REAL,
    "reliability" REAL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "PerformanceMetric" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "layer" TEXT NOT NULL,
    "avgLatencyMs" REAL NOT NULL,
    "successRate" REAL NOT NULL,
    "divergence" REAL NOT NULL,
    "updatedAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "SystemLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "layer" TEXT NOT NULL,
    "action" TEXT,
    "latencyMs" INTEGER,
    "status" TEXT NOT NULL,
    "meta" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "ModelWeight" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "modelName" TEXT NOT NULL,
    "weight" REAL NOT NULL,
    "accuracy" REAL,
    "updatedAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "RiskFlag" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "clinicianId" TEXT,
    "reportId" TEXT,
    "level" TEXT NOT NULL,
    "category" TEXT,
    "aiSummary" TEXT,
    "humanReviewed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TherapyMemory" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "keyInsights" TEXT NOT NULL,
    "emotionTags" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "MarketplaceItem" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "price" REAL NOT NULL DEFAULT 0,
    "imageUrl" TEXT,
    "type" TEXT NOT NULL DEFAULT 'exercise',
    "category" TEXT NOT NULL DEFAULT 'general',
    "difficulty" TEXT,
    "duration" INTEGER,
    "fileUrl" TEXT,
    "authorId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "MarketplaceItem_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "SeoMeta" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "key" TEXT NOT NULL,
    "lang" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "keywords" TEXT,
    "ogTitle" TEXT,
    "ogDescription" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Translation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "key" TEXT NOT NULL,
    "lang" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "BehaviorPattern" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "keyword" TEXT NOT NULL,
    "frequency" INTEGER NOT NULL,
    "sentiment" REAL NOT NULL,
    "meaning" TEXT NOT NULL,
    "relatedTests" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "MoodTrend" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "score" REAL NOT NULL,
    "source" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "Dream" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "interpretation" TEXT,
    "inspiration" TEXT,
    "sourceData" TEXT,
    "moodContext" TEXT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "DreamPattern" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "symbol" TEXT NOT NULL,
    "frequency" INTEGER NOT NULL,
    "meaning" TEXT NOT NULL,
    "sentiment" REAL,
    "relatedTests" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "EmotionLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "emotion" TEXT NOT NULL,
    "intensity" REAL NOT NULL,
    "typingScore" REAL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "ClinicalReport" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "mood" TEXT,
    "anxiety" TEXT,
    "motivation" TEXT,
    "relationships" TEXT,
    "selfEsteem" TEXT,
    "focus" TEXT,
    "recommendation" TEXT,
    "versionCode" TEXT,
    "digitalSignature" TEXT,
    "verificationUrl" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ConsensusReview" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "reportId" TEXT NOT NULL,
    "modelsUsed" TEXT NOT NULL,
    "consensusText" TEXT NOT NULL,
    "confidence" REAL NOT NULL,
    "divergence" REAL NOT NULL,
    "riskLevel" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "MoodEntry" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "mood" TEXT NOT NULL,
    "note" TEXT,
    "date" DATETIME NOT NULL,
    "sentiment" REAL,
    "content" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "MoodLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "mood" TEXT NOT NULL,
    "sleepHour" INTEGER,
    "energy" INTEGER,
    "stress" INTEGER,
    "note" TEXT,
    "activities" TEXT,
    "weather" TEXT,
    "social" TEXT,
    "exercise" BOOLEAN NOT NULL DEFAULT false,
    "meditation" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ChatMessage" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "role" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "userId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "UserProgress" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "xp" INTEGER NOT NULL DEFAULT 0,
    "level" INTEGER NOT NULL DEFAULT 1,
    "totalTests" INTEGER NOT NULL DEFAULT 0,
    "streakDays" INTEGER NOT NULL DEFAULT 0,
    "achievements" TEXT,
    "lastActivity" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "SessionPlan" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "topic" TEXT NOT NULL,
    "focusArea" TEXT NOT NULL,
    "suggestedTest" TEXT,
    "dailyPractice" TEXT NOT NULL,
    "aiConfidence" REAL NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "VoiceProfile" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "tone" TEXT NOT NULL DEFAULT 'warm',
    "rate" REAL NOT NULL DEFAULT 1.0,
    "pitch" REAL NOT NULL DEFAULT 1.0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "UserTestRecommendation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "testName" TEXT NOT NULL,
    "score" REAL NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TestRecommendationWeight" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "testName" TEXT NOT NULL,
    "weight" REAL NOT NULL,
    "source" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ClinicalReview" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "reportId" TEXT NOT NULL,
    "reviewerAI" TEXT NOT NULL,
    "reviewSummary" TEXT NOT NULL,
    "reviewScore" REAL NOT NULL,
    "riskLevel" TEXT NOT NULL,
    "revisionNotes" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TherapySession" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "messages" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "SuggestedContent" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "contentId" TEXT NOT NULL,
    "reason" TEXT,
    "priority" INTEGER NOT NULL DEFAULT 3,
    "expiresAt" DATETIME,
    "isViewed" BOOLEAN NOT NULL DEFAULT false,
    "isAccepted" BOOLEAN NOT NULL DEFAULT false,
    "feedback" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Therapist" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "specialty" TEXT,
    "license" TEXT,
    "bio" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TherapistAssignment" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "therapistId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "contentId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'assigned',
    "priority" INTEGER NOT NULL DEFAULT 3,
    "dueDate" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TherapistPatient" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "therapistId" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "VideoLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "videoUrl" TEXT NOT NULL,
    "thumbnailUrl" TEXT,
    "caption" TEXT,
    "duration" INTEGER,
    "fileSize" INTEGER,
    "week" INTEGER NOT NULL,
    "year" INTEGER NOT NULL,
    "mood" TEXT,
    "tags" TEXT,
    "isPrivate" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "WeeklyAssignment" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "contentId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "note" TEXT,
    "week" INTEGER NOT NULL,
    "year" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'assigned',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TestRequest" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "testName" TEXT NOT NULL,
    "reason" TEXT,
    "suggestedById" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "BlogComment" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "blogId" TEXT NOT NULL,
    "userId" TEXT,
    "authorName" TEXT,
    "authorEmail" TEXT,
    "content" TEXT NOT NULL,
    "approved" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "BlogComment_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES "Blog" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_phone_key" ON "User"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE INDEX "TestResult_testSlug_idx" ON "TestResult"("testSlug");

-- CreateIndex
CREATE INDEX "TestResult_completed_idx" ON "TestResult"("completed");

-- CreateIndex
CREATE INDEX "Notification_type_idx" ON "Notification"("type");

-- CreateIndex
CREATE INDEX "Notification_read_idx" ON "Notification"("read");

-- CreateIndex
CREATE INDEX "ChatHistory_userId_createdAt_idx" ON "ChatHistory"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "Chat_userEmail_createdAt_idx" ON "Chat"("userEmail", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "UserExercise_userId_exerciseId_key" ON "UserExercise"("userId", "exerciseId");

-- CreateIndex
CREATE UNIQUE INDEX "Test_testSlug_key" ON "Test"("testSlug");

-- CreateIndex
CREATE UNIQUE INDEX "Article_slug_key" ON "Article"("slug");

-- CreateIndex
CREATE INDEX "Article_category_published_createdAt_idx" ON "Article"("category", "published", "createdAt");

-- CreateIndex
CREATE INDEX "Article_featured_published_idx" ON "Article"("featured", "published");

-- CreateIndex
CREATE UNIQUE INDEX "NewsletterSubscriber_email_key" ON "NewsletterSubscriber"("email");

-- CreateIndex
CREATE INDEX "NewsletterSubscriber_email_isActive_idx" ON "NewsletterSubscriber"("email", "isActive");

-- CreateIndex
CREATE UNIQUE INDEX "Blog_slug_key" ON "Blog"("slug");

-- CreateIndex
CREATE INDEX "Blog_slug_idx" ON "Blog"("slug");

-- CreateIndex
CREATE INDEX "Blog_category_idx" ON "Blog"("category");

-- CreateIndex
CREATE INDEX "Blog_published_idx" ON "Blog"("published");

-- CreateIndex
CREATE INDEX "Blog_publishedAt_idx" ON "Blog"("publishedAt");

-- CreateIndex
CREATE INDEX "Blog_featured_idx" ON "Blog"("featured");

-- CreateIndex
CREATE UNIQUE INDEX "MonthlyAnalytics_month_key" ON "MonthlyAnalytics"("month");

-- CreateIndex
CREATE UNIQUE INDEX "CategoryAnalytics_category_key" ON "CategoryAnalytics"("category");

-- CreateIndex
CREATE UNIQUE INDEX "DailyAnalytics_date_key" ON "DailyAnalytics"("date");

-- CreateIndex
CREATE UNIQUE INDEX "GeoAnalytics_country_key" ON "GeoAnalytics"("country");

-- CreateIndex
CREATE UNIQUE INDEX "DeviceAnalytics_device_key" ON "DeviceAnalytics"("device");

-- CreateIndex
CREATE UNIQUE INDEX "BrowserAnalytics_browser_key" ON "BrowserAnalytics"("browser");

-- CreateIndex
CREATE UNIQUE INDEX "HourlyAnalytics_hour_key" ON "HourlyAnalytics"("hour");

-- CreateIndex
CREATE UNIQUE INDEX "WeeklyAnalytics_day_key" ON "WeeklyAnalytics"("day");

-- CreateIndex
CREATE INDEX "ScreeningResult_userEmail_createdAt_idx" ON "ScreeningResult"("userEmail", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "SystemConfig_key_key" ON "SystemConfig"("key");

-- CreateIndex
CREATE UNIQUE INDEX "BlogCategory_slug_key" ON "BlogCategory"("slug");

-- CreateIndex
CREATE INDEX "HumanFeedback_clinicianId_idx" ON "HumanFeedback"("clinicianId");

-- CreateIndex
CREATE INDEX "HumanFeedback_reportId_idx" ON "HumanFeedback"("reportId");

-- CreateIndex
CREATE INDEX "HumanFeedback_createdAt_idx" ON "HumanFeedback"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "PerformanceMetric_layer_key" ON "PerformanceMetric"("layer");

-- CreateIndex
CREATE INDEX "SystemLog_layer_idx" ON "SystemLog"("layer");

-- CreateIndex
CREATE INDEX "SystemLog_action_idx" ON "SystemLog"("action");

-- CreateIndex
CREATE INDEX "SystemLog_createdAt_idx" ON "SystemLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "ModelWeight_modelName_key" ON "ModelWeight"("modelName");

-- CreateIndex
CREATE INDEX "RiskFlag_clinicianId_idx" ON "RiskFlag"("clinicianId");

-- CreateIndex
CREATE INDEX "RiskFlag_reportId_idx" ON "RiskFlag"("reportId");

-- CreateIndex
CREATE INDEX "RiskFlag_humanReviewed_idx" ON "RiskFlag"("humanReviewed");

-- CreateIndex
CREATE INDEX "RiskFlag_createdAt_idx" ON "RiskFlag"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "TherapyMemory_userId_key" ON "TherapyMemory"("userId");

-- CreateIndex
CREATE INDEX "TherapyMemory_userId_idx" ON "TherapyMemory"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "MarketplaceItem_slug_key" ON "MarketplaceItem"("slug");

-- CreateIndex
CREATE INDEX "MarketplaceItem_authorId_idx" ON "MarketplaceItem"("authorId");

-- CreateIndex
CREATE INDEX "MarketplaceItem_category_idx" ON "MarketplaceItem"("category");

-- CreateIndex
CREATE INDEX "MarketplaceItem_type_idx" ON "MarketplaceItem"("type");

-- CreateIndex
CREATE INDEX "MarketplaceItem_createdAt_idx" ON "MarketplaceItem"("createdAt");

-- CreateIndex
CREATE INDEX "SeoMeta_key_idx" ON "SeoMeta"("key");

-- CreateIndex
CREATE INDEX "SeoMeta_lang_idx" ON "SeoMeta"("lang");

-- CreateIndex
CREATE UNIQUE INDEX "SeoMeta_key_lang_key" ON "SeoMeta"("key", "lang");

-- CreateIndex
CREATE INDEX "Translation_key_idx" ON "Translation"("key");

-- CreateIndex
CREATE INDEX "Translation_lang_idx" ON "Translation"("lang");

-- CreateIndex
CREATE UNIQUE INDEX "Translation_key_lang_key" ON "Translation"("key", "lang");

-- CreateIndex
CREATE INDEX "BehaviorPattern_keyword_idx" ON "BehaviorPattern"("keyword");

-- CreateIndex
CREATE INDEX "BehaviorPattern_createdAt_idx" ON "BehaviorPattern"("createdAt");

-- CreateIndex
CREATE INDEX "MoodTrend_userId_idx" ON "MoodTrend"("userId");

-- CreateIndex
CREATE INDEX "MoodTrend_category_idx" ON "MoodTrend"("category");

-- CreateIndex
CREATE INDEX "MoodTrend_createdAt_idx" ON "MoodTrend"("createdAt");

-- CreateIndex
CREATE INDEX "Dream_date_idx" ON "Dream"("date");

-- CreateIndex
CREATE INDEX "Dream_moodContext_idx" ON "Dream"("moodContext");

-- CreateIndex
CREATE INDEX "Dream_createdAt_idx" ON "Dream"("createdAt");

-- CreateIndex
CREATE INDEX "DreamPattern_symbol_idx" ON "DreamPattern"("symbol");

-- CreateIndex
CREATE INDEX "DreamPattern_frequency_idx" ON "DreamPattern"("frequency");

-- CreateIndex
CREATE INDEX "DreamPattern_createdAt_idx" ON "DreamPattern"("createdAt");

-- CreateIndex
CREATE INDEX "EmotionLog_userId_idx" ON "EmotionLog"("userId");

-- CreateIndex
CREATE INDEX "EmotionLog_emotion_idx" ON "EmotionLog"("emotion");

-- CreateIndex
CREATE INDEX "EmotionLog_createdAt_idx" ON "EmotionLog"("createdAt");

-- CreateIndex
CREATE INDEX "ClinicalReport_userId_idx" ON "ClinicalReport"("userId");

-- CreateIndex
CREATE INDEX "ClinicalReport_createdAt_idx" ON "ClinicalReport"("createdAt");

-- CreateIndex
CREATE INDEX "ConsensusReview_reportId_idx" ON "ConsensusReview"("reportId");

-- CreateIndex
CREATE INDEX "ConsensusReview_createdAt_idx" ON "ConsensusReview"("createdAt");

-- CreateIndex
CREATE INDEX "MoodEntry_userId_idx" ON "MoodEntry"("userId");

-- CreateIndex
CREATE INDEX "MoodEntry_date_idx" ON "MoodEntry"("date");

-- CreateIndex
CREATE INDEX "MoodEntry_createdAt_idx" ON "MoodEntry"("createdAt");

-- CreateIndex
CREATE INDEX "MoodLog_userId_idx" ON "MoodLog"("userId");

-- CreateIndex
CREATE INDEX "MoodLog_date_idx" ON "MoodLog"("date");

-- CreateIndex
CREATE UNIQUE INDEX "MoodLog_userId_date_key" ON "MoodLog"("userId", "date");

-- CreateIndex
CREATE INDEX "ChatMessage_userId_idx" ON "ChatMessage"("userId");

-- CreateIndex
CREATE INDEX "ChatMessage_createdAt_idx" ON "ChatMessage"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "UserProgress_userId_key" ON "UserProgress"("userId");

-- CreateIndex
CREATE INDEX "UserProgress_userId_idx" ON "UserProgress"("userId");

-- CreateIndex
CREATE INDEX "SessionPlan_userId_idx" ON "SessionPlan"("userId");

-- CreateIndex
CREATE INDEX "SessionPlan_createdAt_idx" ON "SessionPlan"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "VoiceProfile_userId_key" ON "VoiceProfile"("userId");

-- CreateIndex
CREATE INDEX "VoiceProfile_userId_idx" ON "VoiceProfile"("userId");

-- CreateIndex
CREATE INDEX "UserTestRecommendation_userId_idx" ON "UserTestRecommendation"("userId");

-- CreateIndex
CREATE INDEX "UserTestRecommendation_testName_idx" ON "UserTestRecommendation"("testName");

-- CreateIndex
CREATE INDEX "UserTestRecommendation_score_idx" ON "UserTestRecommendation"("score");

-- CreateIndex
CREATE INDEX "UserTestRecommendation_createdAt_idx" ON "UserTestRecommendation"("createdAt");

-- CreateIndex
CREATE INDEX "TestRecommendationWeight_testName_idx" ON "TestRecommendationWeight"("testName");

-- CreateIndex
CREATE INDEX "TestRecommendationWeight_weight_idx" ON "TestRecommendationWeight"("weight");

-- CreateIndex
CREATE INDEX "TestRecommendationWeight_createdAt_idx" ON "TestRecommendationWeight"("createdAt");

-- CreateIndex
CREATE INDEX "ClinicalReview_reportId_idx" ON "ClinicalReview"("reportId");

-- CreateIndex
CREATE INDEX "ClinicalReview_createdAt_idx" ON "ClinicalReview"("createdAt");

-- CreateIndex
CREATE INDEX "TherapySession_userId_idx" ON "TherapySession"("userId");

-- CreateIndex
CREATE INDEX "TherapySession_createdAt_idx" ON "TherapySession"("createdAt");

-- CreateIndex
CREATE INDEX "SuggestedContent_userId_idx" ON "SuggestedContent"("userId");

-- CreateIndex
CREATE INDEX "SuggestedContent_contentId_idx" ON "SuggestedContent"("contentId");

-- CreateIndex
CREATE INDEX "SuggestedContent_createdAt_idx" ON "SuggestedContent"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Therapist_userId_key" ON "Therapist"("userId");

-- CreateIndex
CREATE INDEX "Therapist_userId_idx" ON "Therapist"("userId");

-- CreateIndex
CREATE INDEX "TherapistAssignment_therapistId_idx" ON "TherapistAssignment"("therapistId");

-- CreateIndex
CREATE INDEX "TherapistAssignment_userId_idx" ON "TherapistAssignment"("userId");

-- CreateIndex
CREATE INDEX "TherapistAssignment_contentId_idx" ON "TherapistAssignment"("contentId");

-- CreateIndex
CREATE INDEX "TherapistAssignment_status_idx" ON "TherapistAssignment"("status");

-- CreateIndex
CREATE INDEX "TherapistPatient_therapistId_idx" ON "TherapistPatient"("therapistId");

-- CreateIndex
CREATE INDEX "TherapistPatient_patientId_idx" ON "TherapistPatient"("patientId");

-- CreateIndex
CREATE UNIQUE INDEX "TherapistPatient_therapistId_patientId_key" ON "TherapistPatient"("therapistId", "patientId");

-- CreateIndex
CREATE INDEX "VideoLog_userId_idx" ON "VideoLog"("userId");

-- CreateIndex
CREATE INDEX "VideoLog_week_year_idx" ON "VideoLog"("week", "year");

-- CreateIndex
CREATE INDEX "VideoLog_createdAt_idx" ON "VideoLog"("createdAt");

-- CreateIndex
CREATE INDEX "WeeklyAssignment_userId_idx" ON "WeeklyAssignment"("userId");

-- CreateIndex
CREATE INDEX "WeeklyAssignment_week_year_idx" ON "WeeklyAssignment"("week", "year");

-- CreateIndex
CREATE INDEX "WeeklyAssignment_status_idx" ON "WeeklyAssignment"("status");

-- CreateIndex
CREATE UNIQUE INDEX "WeeklyAssignment_userId_week_year_contentId_key" ON "WeeklyAssignment"("userId", "week", "year", "contentId");

-- CreateIndex
CREATE INDEX "TestRequest_userId_idx" ON "TestRequest"("userId");

-- CreateIndex
CREATE INDEX "TestRequest_suggestedById_idx" ON "TestRequest"("suggestedById");

-- CreateIndex
CREATE INDEX "TestRequest_status_idx" ON "TestRequest"("status");

-- CreateIndex
CREATE INDEX "BlogComment_blogId_idx" ON "BlogComment"("blogId");

-- CreateIndex
CREATE INDEX "BlogComment_userId_idx" ON "BlogComment"("userId");

-- CreateIndex
CREATE INDEX "BlogComment_approved_idx" ON "BlogComment"("approved");

